Repository 2025-Gachon-capstone/Omni-FE, pull requests merged in 2025-04, with the labels that each got.

#4 #3 feat : 로그인 및 회원가입 UI구현
  .gitignore
  Dockerfile
  src/app/App.tsx
  src/features/join/api/useVerifySponsor.tsx
  src/features/join/model/SponsorCategoryData.ts
  src/features/join/model/validateFormData.tsx
  src/features/join/type/FormDataType.ts
  src/features/join/type/ToggleProps.ts
  src/features/join/ui/Category.tsx
  src/features/join/ui/JoinSponsorForm.tsx
  src/features/join/ui/JoinUserForm.tsx
  src/features/join/ui/LoginPhrase.tsx
  src/features/join/ui/ToggleButton.tsx
  src/features/login/ui/ErrorPhrase.tsx
  src/features/login/ui/JoinPhrase.tsx
  src/features/login/ui/LoginForm.tsx
  src/pages/Join.tsx
  src/pages/Login.tsx
  src/shared/styles/theme.ts
  src/shared/ui/Button.tsx
  src/shared/ui/CustomToast.tsx
  src/shared/ui/Input.tsx
  src/shared/ui/Modal.tsx
  src/shared/ui/index.ts
  src/shared/utils/ScrollToTop.tsx
  src/widgets/layout/Header.tsx
Labels: 🔔API, ✨Feature

#9 #5 feat: 협찬하기 UI 구현
  package.json
  src/app/App.tsx
  src/features/sponsor/prompt/type/FormDataType.ts
  src/features/sponsor/prompt/type/RequestDTO.ts
  src/features/sponsor/prompt/type/ResponseDTO.ts
  src/features/sponsor/prompt/type/converter.ts
  src/features/sponsor/prompt/ui/BenefitList.tsx
  src/features/sponsor/prompt/ui/BenefitPopover.tsx
  src/features/sponsor/prompt/ui/Prompt.tsx
  src/pages/SponsorPrompt.tsx
  src/shared/store/headerStore.ts
  src/shared/store/index.ts
  src/shared/styles/theme.ts
  src/widgets/layout/Header.tsx
  yarn.lock
Labels: ✨Feature, ⚙️Chore

#12 fix: nginx spa 설정 수정
  Dockerfile
  nginx.conf
Labels: 🐞Bug, 🌍Deploy, ⚙️Chore

#13 #10 feat : customAxios 및 로그인 API 연결
  src/app/App.tsx
  src/app/customAxios.tsx
  src/app/routes/PrivateRoute.tsx
  src/app/routes/PublicRoute.tsx
  src/app/routes/RoleRoute.tsx
  src/app/routes/index.ts
  src/features/home/ui/FifthSection.tsx
  src/features/login/api/useLogin.tsx
  src/pages/Loading.tsx
  src/pages/Login.tsx
  src/shared/store/authStore.ts
  src/shared/store/index.ts
  src/shared/ui/CustomToast.tsx
  src/shared/utils/tokenHandler.ts
  src/widgets/layout/Sidebar.tsx
Labels: 🔔API, ✨Feature

#16 #14 feat : 쇼핑몰 UI 구현, Toss위젯 연결
  package.json
  src/app/App.tsx
  src/features/shop/cart/ui/BenefitApply.tsx
  src/features/shop/cart/ui/CartList.tsx
  src/features/shop/cart/ui/PriceBox.tsx
  src/features/shop/detail/ui/ProductCount.tsx
  src/features/shop/detail/ui/ProductInfo.tsx
  src/features/shop/home/type/ProductList.ts
  src/features/shop/home/ui/Banner.tsx
  src/features/shop/home/ui/CategoryList.tsx
  src/features/shop/home/ui/ProductItems.tsx
  src/pages/ShopCart.tsx
  src/pages/ShopHome.tsx
  src/pages/ShopOrder.tsx
  src/pages/ShopPayment.tsx
  src/pages/ShopPaymentResult.tsx
  src/pages/ShopProductDetail.tsx
  src/shared/store/cartStore.ts
  src/shared/store/index.ts
  src/shared/store/pendingStore.ts
  src/shared/types/types.d.ts
  yarn.lock
Labels: ✨Feature, ⚙️Chore

#18 Feat/#15/협찬사 프롬프트 api 연동
  src/features/sponsor/prompt/api/useBenefitList.ts
  src/features/sponsor/prompt/api/useMessageList.ts
  src/features/sponsor/prompt/type/RequestDTO.ts
  src/features/sponsor/prompt/type/ResponseDTO.ts
  src/features/sponsor/prompt/type/converter.ts
  src/features/sponsor/prompt/ui/BenefitList.tsx
  src/features/sponsor/prompt/ui/BenefitPopover.tsx
  src/features/sponsor/prompt/ui/Modals.tsx
  src/features/sponsor/prompt/ui/Prompt.tsx
  src/pages/SponsorPrompt.tsx
  src/shared/hooks/useLogout.ts
  src/widgets/layout/Sidebar.tsx
Labels: 🔔API

#19 #17 feat : 회원가입 API 연동
  src/app/customAxios.tsx
  src/features/join/api/useGetCategory.tsx
  src/features/join/api/useJoin.tsx
  src/features/join/model/SponsorCategoryData.ts
  src/features/join/model/validateFormData.tsx
  src/features/join/type/FormDataType.ts
  src/features/join/ui/Category.tsx
  src/features/join/ui/JoinSponsorForm.tsx
  src/features/join/ui/JoinUserForm.tsx
  src/pages/Join.tsx
  src/shared/hooks/useLogout.ts
  src/widgets/layout/Sidebar.tsx
Labels: 🔔API, 🐞Bug

#21 #20 feat 일반유저 API
  src/features/user/benefit/api/useBenefitList.tsx
  src/features/user/benefit/model/BenefitColumns.ts
  src/features/user/benefit/type/Benefit.ts
  src/features/user/benefit/ui/AvailableList.tsx
  src/features/user/myCard/api/useCardInfo.tsx
  src/features/user/myCard/type/Card.ts
  src/features/user/myCard/ui/MyCardInfo.tsx
  src/features/user/myCard/ui/PasswordAuth.tsx
  src/features/user/myPage/api/useManagePassword.tsx
  src/features/user/myPage/api/useWithDrawal.tsx
  src/features/user/myPage/ui/MyPageEdit.tsx
  src/features/user/myPage/ui/MyPageView.tsx
  src/features/user/payment/api/usePaymentList.tsx
  src/features/user/payment/model/PaymentColumn.ts
  src/features/user/payment/type/Payment.ts
  src/pages/UserBenefit.tsx
  src/pages/UserMyCard.tsx
  src/pages/UserMyPage.tsx
  src/pages/UserPayment.tsx
  src/shared/store/authStore.ts
  src/shared/ui/Pagination.tsx
Labels: 🔔API
